#memeContainer {
    margin: 10px;
    position: relative;
    text-align: center;
    color: white;
    height: 25em;
    width: 45em;
}

#meme-img {
    height: 25em;
    width: 45em;
}

#topTxt {
    position: absolute;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    word-wrap: break-word;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btmTxt {
    position: absolute;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    word-wrap: break-word;
    left: 50%;
    bottom: 1px;
    transform: translate(-50%, -50%);
}